<h1>Welcome to Zi's Travel</h1>
关于页面，views/about.handlebars：
<h1>About Zi's Travel</h1>
未找到页面，views/404.handlebars：
<h1>404 - Not Found</h1>
最后是服务器错误页面，views/500.handlebars：
<h1>500 - Server Error</h1>